{% extends 'visitor/layout.twig' %}

{% block logo %}{% endblock %}

{% block top_links %}
    <a href="{{ route( 'logout' ) }}" class="btn btn-success">Déconnexion</a>
{% endblock %}


{% block user_menu_bar %}{% endblock %}