{% extends 'layout.twig' %}

{% block logo %}

{% endblock %}

{% block top_links %}
    <a href="{{ route( 'login' ) }}" class="btn btn-success">Connexion</a>
    <a href="{{ route( 'register' ) }}" class="btn btn-info">Inscription</a>
{% endblock %}

{% block user_menu_bar %}{% endblock %}





